:root{
    --text-color: #fff;
    --header-footer-color: rgba(12, 100, 113, 0.952); 
    --vertival-line-color: black;
}
*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #8ce1ebf3;    
}
  /*--------header----- */

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    width: 100%;
    background-color: var(--header-footer-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-weight: 500;
    font-size: 2rem;
    color: var(--text-color);    
}

.header-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px;
}
.header-list ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;     
}
.header-list ul li a{
    color: var(--text-color);
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;  
    position: relative;
}
.header-list ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #030f11;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.header-list ul li a:hover::after{
    width: 100%;
}

/* ------- sub-title ------- */

.sub-title{
    width: 100%;
    height: 70vh; 
    background-image: url(/assets/images/back-ground.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-left: 0;         
}
.sub-title p{
    padding: 40px 0 0 40px;
    font-size: 40px;
}    
.sub-title h2{
    padding: 0 5px 0 40px;
    font-weight: 400;
    font-size: 40px;
    color: #080a0b;    
}
.sub-title img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 10px;    
}

/* -------- about-m ------- */

.about{
    display: flex; 
    width: 100%;
    height: 100px;       
    margin: 10px 20px;
}
.about h3{
    margin: 20px 10px;
    text-align: end;
    width: 45%;
    font-size: 25px;
}
#vertical-line{
    margin-top: 20px;
    width: 3px;
    height: 100px;
    background-color: var(--vertival-line-color);
}
.about p{
    margin: 20px 10px;
    font-size: 18px;
    text-align: left;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    text-wrap: wrap;
}

/* ----------- work ------- */

.my-work{
    display: flex;
    width: 100%;
    height: 500px;          
    margin: 20px 20px;
}
.my-work h3{
    margin: 20px 10px;
    text-align: end;
    width: 13%;
    font-size: 25px;
}
#vertical-line-1{     
    margin-top: 30px; 
    width: 3px;
    height: 500px; 
    background-color: var(--vertival-line-color);
 } 
 .my-work img{ 
    margin: 30px 10px;  
    border: 5px solid #5f8466;  
    height: 450px; 
    width: 300px;    
 } 
 #first-app img:hover{
    margin: auto;
    height: 500px;
    width: 400px;
    border: 5px solid #8ab50a;
 }
 #second-imag:hover{
    margin-left: 40px;

 }

 
/* ------------ contact -------- */

.contact{    
    display: flex;    
    width: 100%;
    height: 80px;       
    margin: 10px 20px;
}
.contact h3{
    margin: 20px 10px;
    text-align: end;
    width: 13%;
    font-size: 25px;
}
#vertical-line-2{
    margin-top: 20px;
    width: 3px;
    height: 90%;
    background-color: var(--vertival-line-color);
}
.contact p{  
    margin: 40px 30px; 
    align-items: center; 
    font-size: 16px;  
    font-weight: 300;
}
.footer{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 20px 0;
    background-color: var(--header-footer-color);
    padding: 10px;
}
.footer p{
    color: var(--text-color);
    align-items: center;
}

@media screen and (max-width: 768px) {
    header{
        height: 40px;
        padding: 10px;
        margin: 0;
    }
    header h1{
        font-size: 20px;
        font-weight: 200;   
    }
    .header-list{
        margin: 0;
        padding: 0;        
    }
    .header-list ul{
        display: flex;
        flex-direction: column;
        background-color: #49d7a6;
        margin-right: 0px;  
        border: 3px solid #1d3335f3;
        border-radius: 5px;       
    }
    .header-list ul li{
        font-size: 10px;
        font-weight: 100;
    }
    .sub-title{
        width: 100%;
        height: 60vh; 
        background-image: url(/assets/images/back-ground.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 0;
        margin-left: 0;         
    }
    .sub-title p{
        padding: 20px 0 0 20px;
        font-size: 20px;
    }    
    .sub-title h2{
        padding: 0 5px 0 20px;
        font-weight: 400;
        font-size: 25px;
        color: #080a0b;    
    }
    .sub-title img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 10px;    
    }
    .about h3{
        margin: 10px 10px;
        text-align: end;
        width: 45%;
        font-size: 20px;
    }
    #vertical-line{    
        height: 0;               
    }
    .about p{
        margin: 10px 10px;
        font-size: 14px;  
        font-weight: 100; 
        line-height: 1.2;     
    }
    .my-work{
        display: flex;
        width: 100%;
        height: 500px;          
        margin: 10px;
    }
    .my-work h3{
        font-size: 20px;
        margin: 20px;
        margin-left: 1px;
    }
    #vertical-line-1{        
        height: 0px;
    }
    .my-work{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 350px;          
        margin: 20px 20px;
    }
    .my-work img{ 
        margin: 30px 30px;  
        border: 5px solid #5fc90e; 
        border-radius: 5px; 
        height: 300px; 
        width: 200px;    
     } 
     #first-app img:hover{
        margin: auto;
        height: 350px;
        width: 250px;
        border: 5px solid #e35812;
     }
     #second-imag:hover{
        margin-left: 40px;    
     }
     .contact{
        display: flex;
        flex-wrap: wrap;
     }
     .contact h3{    
        font-size: 20px;
        margin: 20px;
        margin-left: 1px;
    }
    #vertical-line-2{        
        height: 0;        
    }
    .contact p{  
        margin: 20px 5px;         
        font-size: 14px;  
        font-weight: 400;
        font-style: oblique;
        color: #080a0b;
    }
    .footer{
        height: 40px;
        width: 100%;
        margin: 20px 0;        
        padding: 10px;
    }

}
